{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    
{% endblock %}

{% block content %}
<div class="container text-center pt-5">
  {% for pitch in pitches %}
    <a href="/pitches/{{pitch.category}}"><button class="btn btn-dark">{{pitch.category}}</button></a>
  {% endfor %}
</div>
<div class="container pt-5">
  {% for pitch in pitches %}
  <div class="card mb-4">
    <div class="card-header">
      {{pitch.title}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{pitch.description}}</p>
        <footer class="blockquote-footer">Pitched By <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
    <div class="card-header">
      <button class="btn">Upvote 0</button>
      <button class="btn">Downvote 0</button>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock%}