{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    
{% endblock %}

{% block content %}
<div class="text-center pt-5">
  <h1>Keep Pitching Like Peaches</h1>
</div>
<div class="container  pt-5">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">All Pitches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pitches/Pickup Lines">Pickup Lines</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pitches/Presentation">Presentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pitches/Interview">Interview</a>
    </li>    
  </ul>
</div>
<div class="container pt-5">
  {% for pitch in pitches %}
  <div class="card mb-4">
    <div class="card-header">
      {{pitch.title}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{pitch.description}}</p>
        <footer class="blockquote-footer">Pitched By <cite title="Source Title">{{pitch.user.username}}</cite></footer>
      </blockquote>
    </div>
    <div class="card-header">
      <button class="btn"><a href="{{url_for('main.upvote',id = pitch.id)}}">Upvote {{pitch.upvote.count()}}</a></button>
      <button class="btn"><a href="{{url_for('main.downvote',id = pitch.id)}}">downvote {{pitch.downvote.count()}}</a></button>
      <button class="btn"><a href="{{url_for('main.downvote',id = pitch.id)}}">Comment</a></button>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock%}