{% macro displayCategoryList() %}
<div class="text-center pt-5">
  <h1>Keep Pitching Like Peaches</h1>
</div>
<div class="container  pt-5">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">All Pitches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pitches/Pickup Lines">Pickup Lines</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pitches/Presentation">Presentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pitches/Interview">Interview</a>
    </li>    
  </ul>
</div>
{% endmacro %}
