{% extends 'base.html'%}

{% block content %}
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
  {% endfor %}
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <label for="title">Title</label>
      {{form.title(class_='form-control')}}
      <label for="description">Description</label>
      {{form.description(class_='form-control')}}
      <label for="category">Category</label>
      {{form.category(class_='form-control')}}
      <input type="submit">
    </form>
  </div>
{% endblock%}